body
{
    margin: 0;
    font-family: Arial;
    transition: 0.3s;
}
.container 
{
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 40px;
    gap: 30px;
}
.calculator 
{
    background: #2b2b2b;
    padding: 20px;
    border-radius: 15px;
    width: 380px;
}
.top-bar 
{
    text-align: right;
}
#display 
{
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 15px;
    text-align: right;
}
.buttons 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}
button 
{
    padding: 12px;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover 
{
    background: #444;
}
.equals 
{
    grid-column: span 2;
    background: orange;
}
.history 
{
    width: 200px;
}
body.light 
{
    background: #f5f5f5;
    color: black;
}
body.light .calculator
{
    background: white;
}